*{
    font-family: 'Readex Pro', sans-serif;
    color: white;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background-color: rgb(26, 32, 44);
}
span{
    background-color: transparent;
}
.spanVariacion {
    background-color: transparent;
}
.cotizacionDolar{
    width: 100%;
    margin-top: 50px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.divDolares{
    width: 1000px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 33%;
}
.buttonDolarVenta{
    background-color: #00c28f;
    border: transparent;
    border-radius: 25px;
    height: 35px;
    width: 110px;
    margin-left: 5px;
}
.buttonDolarCompra{
    background-color: #eb0a3a;
    border: transparent;
    border-radius: 25px;
    height: 35px;
    width: 110px;
}
.divDolar{
    margin: 5px;
    display: flex;
    height: 150px;
    width: 300px;
    border: 2.5px;
    border-style: solid;
    border-radius: 10px;
    border-color: lightgray;
    align-items: center;
    flex-direction: column;
}
.nombreDolar{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 12px;
}
.cotizacionesDolar{
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.variacionDolar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.merval{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mervalT{
    margin-bottom: 20px;
}       
.sorting_1{
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgStock{
    margin-right: 15px;
}
.nomTic{
    width: 750px;
    display: flex;
    flex-direction: column;
}
.tdStc{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.even td {
    border-bottom: 1px solid white;
  }
.odd td {
    border-bottom: 1px solid white;
  }

@media only screen and (max-width: 1100px){
    body{
        width: 100%;
    }
    .divDolares{
        margin-top: 30px;
        height: 100%;
        width: 75%;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }
    .nomTic{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sorting_1{
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mervalT{
        margin-bottom: 40px;
    }   
}